.review {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
  "title created"
  "raiting ."
  "description description";
  gap: 10px;
  padding: 10px;
  border-radius: 13px;
  font-size: 10px;
  color: var(--grey);
  letter-spacing: 0.1em;
  background-color: var(--black-light);

}


.created {
  grid-area: created;
  text-align: end;
  justify-self: flex-start;
}
.title {
  grid-area: title;
  font-size: 12px;
  color: var(--grey-light);
}

.raiting {
  grid-area: raiting;
}

.description {
  grid-area: description;
  font-size: 10px;
  color: var(--grey-light);
}