.review {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
  "title created"
  "raiting ."
  "description description";
  gap: 10px;
  padding: 10px;
  border-radius: 13px;
  font-size: 10px;
  color: #3d3d3d;
  letter-spacing: 0.1em;
  box-shadow: 7px 5px 17px #a19e9e;
  background-color: rgb(248, 245, 245);

}


.created {
  grid-area: created;
  text-align: end;
  justify-self: flex-start;
  color: #7c7b7b;
}
.title {
  grid-area: title;
  font-size: 12px;
  color: black;
}

.raiting {
  grid-area: raiting;
}

.description {
  grid-area: description;
  font-size: 10px;
  color: #3d3d3d;
}