.menuSection, .productSection {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 30px;
}

.menuSection {
  grid-auto-rows: 150px;
}

.menuTitle {
  text-align: center;
  font-size: 28px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding: 0px 40px;
  color: var(--grey);
}
.category {
  position: relative;
  border-radius: 25px;
  width: 100%;
  text-decoration: none;
}

.category_photo {
  object-fit: cover;
  z-index: -1;
  border-radius: 25px;
}

.back {
  position:fixed;
  top: 15px;
  left: 15px;
  border-radius: 10px;
}