.wrapper {
  position: relative;
  background-color: rgb(240, 238, 238);
  backdrop-filter: blur(10px);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  top: 0;
  animation-name: swipeToTop;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin-left: 20px;
  margin-right: 20px;
}
.menuSection, .productSection {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 30px;
}

.menuSection {
  grid-auto-rows: 150px;
}

.menuTitle {
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 0.2em;
  padding: 0px 40px;
}
.category {
  position: relative;
  border-radius: 25px;
  width: 100%;
}

.category_photo {
  object-fit: cover;
  z-index: -1;
  border-radius: 25px;
}

@keyframes swipeToTop {
  from {
    top: 300px;
  }
  to {
    top: 0px;
  }
}

.back {
  position: fixed;
  top: 15px;
  left: 15px;
  border-radius: 10px;
}