

.reviewsContainer {
  border-top: 1px solid var(--grey);
  display: grid;
  gap: 25px;
}

.title {
  margin-top: 10px;
  font-size: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  color: var(--grey);
}

.avg {
  font-size: 18px;
  font-weight: bold;
}