.main {
  display: grid;
  height: 100%;
  align-content: center;
  gap: 100px;
}

.backgroundPhoto {
  object-fit: cover;
  filter: blur(2px);
  object-position: center;
}

.logo {
  justify-self: center;
  align-self: flex-start;
  animation-name: showLogo;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.container {
  position: relative;
  inset: 0px;
  height: 100dvh;
  background: rgb(0 0 0 / 30%);
  display: grid;
  grid-template-rows: 250px auto;
  overflow: scroll;
}

.btn {
  width: 100%;
}

@keyframes showLogo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}