.product {
  display: grid;
  grid-template-columns: 20px 1fr 20px 1fr 100px;
  grid-template-areas:
  "title title title title ."
  "desc desc desc desc img"
  "priceIcon price weightIcon weight ."
  ;
  grid-template-rows: 25px 100px 25px;
  justify-content: center;
  gap:10px;
  padding: 10px;
  box-shadow: 10px 10px 18px 0px rgb(58, 58, 58);
  border-radius: 15px;
  align-items: center;
  background-color: #ffffff67;
  transition: 0.3s ease;
  color: #000;
}

.title {
  grid-area: title;
  justify-self: center;
  font-weight: bold;
  font-size: 20px;
}

.desc {
  grid-area: desc;
  font-size: 12px;
}

.priceIcon {
  grid-area: priceIcon;
}

.price {
  grid-area: price;
  font-size: 12px;
}

.weightIcon {
  grid-area: weightIcon;
}

.weight {
  grid-area: weight;
  font-size: 12px;
}

.conteinerImage {
  position: relative;
  grid-area: img;
  align-self:stretch
}

.image {
  border-radius: 15px;
  object-fit: cover;
}